<h4 class="mt-3 mb-3">Комментарии:</h4>
<hr/>

{% comment %} {% for comment in comments%} {% endcomment %}
    {% comment %} <div class="card" style="width: 100;">
    <div class="card-body">
        <h5 class="card-title"> {{ comment.autor }}</h5>
        <p class="card-text">{{ comment.body}}</p>
    </div>
    </div> {% endcomment %}
    <dl class="row">
        {% for comment in comments%}
            <dt class="col-sm-3">{{ comment.created }} <br> {{ comment.autor }}</dt>
            {% comment %} <dt class="col-sm-2"> {{ comment.autor }}</dt> {% endcomment %}
            <dd class="col-sm-9">{{ comment.body}}</dd>
            <hr/>
        {% endfor %}     
    </dl>  

{% comment %} {% endfor %}   {% endcomment %}


<br>
<br>
Добавить комментарий:
<form action="{% url 'zayavki:add-comment' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="_id" value="{{zayavka.id}}">
    <div class="col-md-6 col-sm-12">
        <label class="form-label mb-0 mt-1 " for={{comments_form.body.id_for_input}}>Текст комментария:</label>
        {{ comments_form.body}}
     </div>  
    <input class="col-md-3 col-sm-12 btn btn-info btn-block mt-2 " type="submit" value="Отправить" >
</form>        

